.header--market-place-3 .navigation .container {
  position: relative;
}

.header--market-place-3 .menu--recent-view {
  position: static;
}

.header--market-place-3 .menu--recent-view .menu-item-has-children {
  position: static;
}

.header--market-place-3 .menu--recent-view .menu-item-has-children a {
  font-size: 16px;
}

.header--market-place-3 .menu--recent-view .menu-item-has-children:hover .navigation__recent-products {
  visibility: visible;
  opacity: 1;
}

.header--market-place-3 .navigation__recent-products {
  position: absolute;
  top: 100%;
  left: 0;
  max-width: 1170px;
  width: 100%;
  padding: 20px 50px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-top: 0;
  z-index: 100;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  visibility: hidden;
  opacity: 0;
}

.header--market-place-3 .navigation__recent-products p {
  margin-bottom: 0;
  text-align: center;
}

.header--market-place-3 .navigation__recent-products p a {
  color: #000;
  text-decoration: underline;
  font-size: 14px;
}

.header--market-place-3 .navigation__recent-products .owl-nav .owl-prev {
  margin-left: -30px;
}

.header--market-place-3 .navigation__recent-products .owl-nav .owl-next {
  margin-right: -30px;
}

.header--market-place-3 .navigation__recent-products .owl-slider .owl-item a {
  display: block;
  padding: 10px;
  border: 1px solid transparent;
}

.header--market-place-3 .navigation__recent-products .owl-slider .owl-item a:hover {
  border-color: #ff5a5f;
}

.header--market-place-3.header--sticky .header__top .menu--product-categories span {
  display: block;
}

.header--market-place-3.header--sticky .header__top .menu--product-categories .menu__content:before {
  right: auto;
  left: 55px;
}

.header--market-place-3.header--sticky .header__top .menu--product-categories:hover .menu__content {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

#homepage-5 .ps-home-banner ul, #homepage-5 .ps-home-banner ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

#homepage-5 .ps-home-banner .owl-slider .owl-item img {
  width: 100%;
}

#homepage-5 .ps-home-banner .container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

#homepage-5 .ps-home-banner .container > * {
  width: 100%;
}

#homepage-5 .ps-home-banner .ps-section__left {
  position: relative;
  max-width: 270px;
  background-color: #ffffff;
}

#homepage-5 .ps-home-banner .ps-section__left .menu--dropdown {
  margin: 0;
  padding: 0;
  list-style: none;
}

#homepage-5 .ps-home-banner .ps-section__left .menu--dropdown > li > a {
  line-height: 16px;
}

#homepage-5 .ps-home-banner .ps-section__left .mega-menu {
  z-index: 100;
  min-height: 100%;
}

#homepage-5 .ps-home-banner .ps-section__center {
  max-width: calc(100% - 652px);
}

#homepage-5 .ps-home-banner .ps-section__center img {
  width: 100%;
}

#homepage-5 .ps-home-banner .ps-section__center .owl-slider {
  max-width: 100%;
}

#homepage-5 .ps-home-banner .ps-section__right {
  max-width: 382px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

#homepage-5 .ps-home-banner .ps-section__right > a {
  display: block;
  max-width: 50%;
  width: 100%;
}

#homepage-5 .ps-home-banner .ps-section__right > a img {
  width: 100%;
}

#homepage-5 .ps-home-banner .ps-section__right > a.wide {
  max-width: 100%;
}

@media (max-width: 1199px) {
  #homepage-5 .ps-home-banner .ps-section__left {
    display: none;
  }
}

@media (max-width: 991px) {
  #homepage-5 .ps-home-banner .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
  }
  #homepage-5 .ps-home-banner .container .ps-section__center {
    max-width: 100%;
  }
  #homepage-5 .ps-home-banner .container .ps-section__right {
    max-width: 100%;
  }
}

#homepage-5 .ps-deal-of-day {
  margin-bottom: 30px;
}

#homepage-5 .ps-deal-of-day .ps-product .ps-product__price {
  color: #690;
  font-size: 18px;
}

#homepage-5 .ps-deal-of-day .ps-product .ps-product__price del {
  margin-left: 10px;
  font-size: 14px;
}

#homepage-5 .ps-deal-of-day .ps-product .ps-product__price small {
  margin-left: 10px;
  color: red;
}

#homepage-5 .ps-deal-of-day .ps-section__header, #homepage-5 .ps-deal-of-day .ps-section__content {
  background-color: #fff;
}

#homepage-5 .ps-deal-of-day .ps-section__header {
  margin-bottom: 0;
  padding: 20px 20px 10px;
}

#homepage-5 .ps-deal-of-day .ps-section__content {
  padding: 60px 30px 30px;
}

#homepage-5 .ps-home-promotions {
  margin: 0 0 30px;
}

#homepage-5 .ps-block--product-box {
  margin-bottom: 30px;
}
